<form #form="ngForm" autocomplete="off" (submit)="submitForm(form)">
 <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <div class="form-group">
        <input name="brandName" #brandName="ngModel" [(ngModel)]="service.formData.brandName" text="text" class="form-control" placeholder="Brand Name" required/>
        <div *ngIf="brandName.invalid && brandName.Touched" class="validation-error">This field is required</div>
    </div>
    <div class="form-group">
        <input name="partNumber" #partNumber="ngModel" [(ngModel)]="service.formData.partNumber" type="text" class="form-control" placeholder="Part Number" required/>
        <div *ngIf="partNumber.invalid && brandName.Touched" class="validation-error">This field is required</div>
    </div>
     <div class="form-group">
        <input name="stock" #stock="ngModel" [(ngModel)]="service.formData.stock" type="number" class="form-control" placeholder="Part in Stock" required/>
        <div *ngIf="stock.invalid && brandName.Touched" class="validation-error">This field is required</div>
    </div>

    <div class="form-group">
         <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-info">Submit</button>
    </div>
</form>