<table class="table table-hover">
    <thead>
          <th>Brand Name</th>
          <th>Part Number</th>
          <th>Stock</th>
          <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let inv of list">
            <td (click)="onEdit(inv)">{{inv.brandName}}</td>
            <td (click)="onEdit(inv)">{{inv.partNumber}}</td>
            <td (click)="onEdit(inv)">{{inv.stock}}</td>
            <a  class="btn text-danger" (click)="onDelete(inv.id)"><i class="fa fa-trash"></i></a>
        </tr>

    </tbody>
</table>

